.carousel {
  background:#007aeb;
}


.carousel-item .img-fluid {
  height:100vh;
}

.carousel-item a {
  display: block;
  width:100%;
}
#one {
    background-image:url(../images/myntra.jpg);
}
#two {
    background-image:url(../images/bride.jpg);
}
#three {
    background-image:url(../images/acces.png);
}