<!DOCTYPE html>
<html>

<head>
  <title>Private Rooms</title>
  <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
  <style>
    body {
      background-color: #ecd8dd;
    }
  </style>
</head>

<body>
  <div class="centered">
    <h1 style="text-align: center">Join Or Create Room</h1>
    <br>
    <br>

    <form action="/party" style="display: flex; justify-content: center;">
      <input type="text" id="content" class="form-control-lg" placeholder="Enter Room Name" name="roomname" style="margin: 2px"/>
      <input type="submit" value="Go to Room" id="submit" class="btn btn-warning"/>
    </form>
  </div>

  <script src="../static/js/jquery-3.5.1.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <!-- <script>
    var submit = document.getElementById("submit");
    submit.onclick = function () {
      var data = document.getElementById("content").value;
      // fetch("/party", {
      //   method: "POST",
      //   headers: {
      //     "Content-Type": "application/json",
      //   },
      //   body: JSON.stringify({ content: data }),
      // })
      //   //  console.log('hi')
      //   .then((res) => res.json())
      //   .then(() => {
      //     console.log(data);
      //     window.location.pathname = `/party/${data}`
      //   })
      //   .catch((err) => {
      //     console.log(err);
      //   });
    };
  </script> -->
</body>

</html>